.App {
  padding: 20px;
}
html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  box-sizing: border-box;
  flex-basis: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}
#root section {
  width: 100%;
  text-align: center;
}